.header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.dropdownWrapper {
  position: absolute;
  top: 2.25rem;
  right: 0;
  display: none;
}

.dropdownWrapper_visible {
  display: inline;
}
