body {
  font-family: "Ubuntu", sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);

  --font-color: #000000;
  --background-color: #ffffff;
  --main-elements-color: #459df5;
  --dim-elements-color: #bad8f5;
  --warning-color: #f53152;
  --additional-filter-background: #ebf0f5;
}

.body_darkTheme {
  --font-color: #bcc4cc;
  --background-color: #2b2d33;
  --dim-elements-color: #454e52;
  --additional-filter-background: #171b1f;
}

.pageWrapper {
  padding: 2rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
