.customRadio {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  appearance: none;
  background-color: var(--background-color);
  border: 1px solid var(--dim-elements-color);
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
}

.customRadio:checked {
  border: 0.25rem solid var(--main-elements-color);
}
